:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #000000;
  }
}

*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  padding: 0;
  margin: 0;
}

.nav-bar-1{
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  border-bottom: 2px #d47b7b solid;
  display: flex;
}

.nav-bar-div{
  float: right;
  width: 100%;
}

.nav-bar-text{
  color: white;
  float: right;
  margin-left: 10px;
  margin-right: 30px;
  margin-top: 15px;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 8px 5px 8px;
  font-weight: bold;
}

.nav-bar-text:hover{
  background-color: #d47b7b;
  color: white;
}

.account-img{
  float: right;
  margin-top: 12px;
  margin-right: 15px;
  cursor: pointer;
}

.search-box{
  color: white;
  background-color: purple;
  border: 0;
  border-radius: 3px;
  float: right;
  margin-right: 20px;
  margin-top: 17px;
  width: 210px;
  height: 23px;
  padding: 2px 2px 2px 10px;
}

.justaheading{
  color: rgb(255, 255, 255);
  margin: 0;
  height: fit-content;
  width: fit-content;
  padding-top: 17px;
  padding-left: 25px;
}

h3{
  color: white;
  font-family: monospace, serif;
}

main{
  margin: 80px 10px 10px 10px;
}

.sidebar{
  margin-top: 90px;
  left: 0;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  width: 230px;
  height: 500px;
  border-radius: 5px;
  border: #d47b7b 3px solid;
}

.sidebar-list{
  list-style-type: none;
  padding-left: 10px;
}

.sidebar-list-link{
  color: white;
  font-weight: 550;
  width: fit-content;
  padding: 5px 20px 5px 5px;
  border-radius: 2px;
  cursor: pointer;
}

.sidebar-list-link:hover{
  background-color: #d47b7b;
  color: white;
}

.display{
  display: flex;
  width: fit-content;
  float: right;
  margin-top: 190px;
  margin-left: 180px;
}

.display-case-div{
  display: flex;
  flex-direction: column;
  width: fit-content;
  float: right;
  margin-left: 180px;
}

.display-case-img{
  border-radius: 5px;
  scale: 160%;
  width: fit-content;
  height: fit-content;
}

.display-case-text{
  margin: 0px 0px 3px 0px;
  border-radius: 3px;
  padding: 3px;
  width: fit-content;
}

.display-case-heading{
  color: white;
  margin: 0px 0px 5px 0px;
  border-radius: 3px;
  padding: 3px;
  width: fit-content;
}

.tags{
  color: white;
  background-color: #d47b7b;
  border-radius: 3px;
  padding: 5px;
  font-weight: bold;
  width: fit-content;
  margin: 5px;
}

.tag-div{
  display: flex;
  flex-direction: row;
}

.part-1{
  display: flex;
}